@import url("https://fonts.googleapis.com/css2?family=Updock&display=swap");

.videos__section {
  background-image: url(../../assets/img/galaxy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.videos__section__heading {
  color: #fff;
  text-align: center;
  padding: 9rem 0 4.5rem;
}

.videos__section__sub__title {
  font-size: 3.2rem;
  font-family: "Updock", cursive;
}

.videos__section__videos__list {
  display: flex;
  justify-content: space-around;
}

.videos__section__videos__item1,
.videos__section__videos__item2,
.videos__section__videos__item3 {
  width: 40rem;
  position: relative;
}

.videos__section__videos__item1:hover,
.videos__section__videos__item2:hover,
.videos__section__videos__item3:hover {
  transition: all 0.3s;
  transform: scale(1.1);
}

.videos__img {
  width: 100%;
}

.youtube__icon1,
.youtube__icon2,
.youtube__icon3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.youtube__icon1:hover,
.youtube__icon2:hover,
.youtube__icon3:hover {
  cursor: pointer;
}

.videos__section__btn {
  font-size: 1.8rem !important;
  font-weight: 600 !important;
  position: relative !important;
  left: 50% !important;
  background-color: rgb(240, 10, 10) !important;
  transform: translateX(-50%) !important;
  margin-top: 8rem !important;
}

@media (max-width: 720px) {
  .videos__section {
    height: auto;
    width: 100vw;
  }
  .videos__section__heading {
    padding: 2rem 0;
    font-size: 1.4rem;
  }

  .videos__section__title,
  .videos__section__sub__title {
    font-size: inherit;
  }

  .videos__section__sub__title {
    font-size: 1.8rem;
  }
  .videos__section__videos__list {
    padding: 0 2rem;
  }
  .videos__section__videos__item3 {
    display: none;
  }
  .videos__section__videos__item2 {
    display: none;
  }

  .videos__section__btn {
    margin: 3rem 0 !important;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    border-radius: 1rem !important;
  }
}
