.contact__section {
  margin-bottom: 18rem;
}
.contact__section__heading {
  color: #000;
  text-align: center;
  padding: 9rem 0 4.5rem;
}

.contact__section__sub__title {
  font-size: 3.2rem;
  font-family: "Updock", cursive;
}

.contact__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
}

.contact__item {
  position: relative;
  overflow: hidden;
  transition: all 3s;
  border-radius: 1rem;
}

.contact__img:hover {
  transform: scale(1.15);
  transition: all 0.5s;
}

.contact__img {
  height: 27rem;
  width: 100%;
}

.contact__society {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

@media (max-width: 720px) {
  .contact__section {
    margin-bottom: 4rem;
  }

  .contact__section__heading {
    padding: 2rem 0;
  }
  .contact__section__title {
    font-size: 1.4rem;
  }

  .contact__section__sub__title {
    font-size: 1.8rem;
  }

  .contact__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2rem;
  }

  .contact__img {
    height: 14rem;
    width: 100%;
  }
}
