@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*  RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

li {
  list-style-type: none;
}

.container {
  max-width: 108rem;
  margin: 0 auto;
}

h2 {
  font-size: 3rem;
}

@media (max-width: 40rem) {
  h2 {
    font-size: 1.3rem;
  }
}
