.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  margin-bottom: 4rem;
}
.contact__us {
  display: flex;
  font-size: 1.4rem;
  gap: 6rem;
}

.contact__us h4 {
  margin: 2.8rem 0;
  font-size: 1.6rem;
}
.contact__us a {
  margin: 0.8rem 0;
  display: block;
}

.contact_address {
  font-size: 1.4rem;
  line-height: 1.6;
}

.copyright {
  opacity: 0.6;
  margin-top: 2rem;
}
