.banner {
  position: relative;
}

.banner--img {
  width: 100%;
}

.banner--title {
  color: #232323;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.3rem solid #232323;
  padding: 1.5rem 4rem;
}
