.news__section__heading {
  color: #000;
  text-align: center;
  padding: 9rem 0 4.5rem;
}

.news__section__sub__title {
  font-size: 3.2rem;
  font-family: "Updock", cursive;
}

.news__img {
  width: 100%;
  height: 13rem;
}

.news__items {
  padding-bottom: 6rem;
}

.news__item {
  display: block;
  margin: 2rem;
  width: 24rem;
  height: 26rem;
  background-color: #fff;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-shadow: 0 0 0.8rem 0 #999999;
}

.news__item__title {
  margin: 2rem 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.news__item__timepublish {
  padding-left: 1rem;
  font-size: 1.2rem;
  opacity: 0.5;
}

.news__section__btn {
  font-size: 1.8rem !important;
  font-weight: 600 !important;
  position: relative !important;
  left: 50% !important;
  background-color: transparent !important;
  border-color: rgb(240, 10, 10) !important;
  transform: translateX(-50%) !important;
  margin: 2rem 0 8rem !important;
}

@media (max-width: 720px) {
  .news__section__heading {
    padding: 2.4rem 0 0rem;
  }

  .news__section__title {
    font-size: 1.4rem;
  }
  .news__section__sub__title {
    font-size: 1.8rem;
  }

  .news__section__btn {
    margin: 3rem 0 !important;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    border-radius: 1rem !important;
  }

  .news__img {
    width: 100%;
    height: auto;
  }

  .news__items {
    display: flex !important;
    justify-content: space-between !important;
    width: 100%;
    margin: 0 2rem;
    padding: 0;
  }

  .news__item {
    display: block;
    width: 16rem;
    height: 16rem;
  }
}
