/* PRODUCTS LIST */

.products__carousel__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 10rem;
}

.products__carousel__item {
  height: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  background-color: #f6f6f6;
  overflow: hidden;
  margin-bottom: 2rem;
}

.products__carousel__item--img {
  width: 100%;
  padding: 3rem 3rem 0;
}

.products__carousel__item div {
  text-align: center;
  padding: 0 2rem;
}

.products__carousel__item--name {
  font-size: 1.4rem;
  font-weight: 600;
}

.products__carousel__item--desc {
  font-size: 1.3rem;
  opacity: 0.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 1rem 0;
}

@media (max-width: 720px) {
  .products__carousel__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 10rem;
  }

  .products__carousel__item {
    height: 24rem;
  }
}
